* {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  box-sizing: border-box;
}

/* ----- Start Global Style ----- */

:root {
  --redColor: #c52032;
  --blackColor: #2d2d2d;
}

.container {
  width: 85%;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-transform: capitalize;
  text-decoration: none;
}
.section-title h2 {
  color: var(--blackColor);
  padding: 25px 0;
  text-align: center;
  text-transform: capitalize;
}
.section-title h2 span {
  display: inline-block;
  color: var(--redColor);
  font-size: 30px;
}
/* ----- End Global Style ----- */

/* ----- Start Header Section ----- */

.header-section {
  border: 1px solid rgba(128, 128, 128, 0.244);
}
header.fix-header {
  position: fixed;
  width: 100%;
  background-color: var(--blackColor);
  animation: fixHeader 1.5s ease;
  z-index: 200;
}
@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* User-Nav */
.user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: var(--blackColor);
  transition: display 1.5s ease-in-out;
}
.user-nav-description {
  flex: 0 0 50%;
  max-width: 50%;
  text-transform: capitalize;
  text-align: center;
}
.user-nav-items {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}
.user-nav-items ul li {
  display: inline-block;
}
.user-nav-items ul li a {
  display: inline-block;
  color: #fff;
  padding: 15px 10px;
  font-size: 17px;
  font-weight: 500;
  transition: color 0.5s ease;
}
.user-nav-items ul li a:hover {
  color: var(--redColor);
}
.user-nav-items ul li a span {
  background-color: var(--redColor);
  border-radius: 50%;
  padding: 0 6px;
}
.user-nav-items ul li a:hover span {
  background-color: #fff;
  transition: background-color 0.5s ease;
}
/* main-Nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-logo a {
  color: var(--blackColor);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-right: 5px;
  border-right: 2px solid var(--blackColor);
}
header.fix-header .main-nav-logo a {
  color: #fff;
}
.main-nav-logo a span {
  display: inline-block;
  color: var(--redColor);
  font-size: 22px;
  margin-bottom: 7px;
}
header.fix-header .main-nav-logo a span {
  color: var(--redColor);
}
.main-nav-items > ul {
  display: flex;
  flex-wrap: wrap;
}
.main-nav-items > ul > li {
  display: inline-block;
  padding: 25px 20px;
  cursor: pointer;
}
.main-nav-items > ul > li:hover > a::after {
  width: 100%;
  left: 0;
}
.main-nav-items > ul > li.active > a::after {
  width: 100%;
}
.main-nav-items > ul > li a {
  display: inline-block;
  color: var(--blackColor);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  position: relative;
}
header.fix-header .main-nav-items > ul > li > a {
  color: #fff;
}
.main-nav-items > ul > li > a::after {
  content: "";
  display: inline-block;
  width: 0%;
  height: 3px;
  background-color: var(--redColor);
  position: absolute;
  right: 0;
  bottom: -7px;
  transition: width 0.6s ease;
}
header.fix-header .main-nav-items > ul > li > a::after {
  background-color: #fff;
}
/* Sub-Menu */
.sub-menu-container {
  position: relative;
}
.sub-menu-container:hover .sub-menu-item {
  opacity: 1;
  visibility: visible;
}
.sub-menu-item {
  width: 550px;
  height: 183px;
  background-color: #eee;
  position: absolute;
  z-index: 10;
  top: 69px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, isibility 1s ease;
  display: flex;
  justify-content: space-between;
}
.sub-menu-item ul {
  padding: 15px;
}
.sub-menu-item ul li {
  margin-bottom: 10px;
}
.sub-menu-item-image {
  flex: 0 0 50%;
}
.sub-menu-item-image img {
  width: 100%;
  display: block;
}
.main-nav-search-box {
  position: relative;
}
.main-nav-search-box input {
  width: 200px;
  padding: 7px;
  border: 1px solid #2121212f;
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
}
.main-nav-search-box i {
  position: absolute;
  top: 7px;
  right: 4px;
  color: #212121bf;
}
.hamburger-menu {
  display: none;
  color: var(--blackColor);
  cursor: pointer;
  transition: color 0.7s ease;
}
header.fix-header .hamburger-menu {
  color: #fff;
}
header.fix-header .hamburger-menu:hover {
  color: var(--redColor);
}
.main-nav-box-cover {
  display: none;
}
/* ----- End Header Section ----- */

/* ----- Start Hero section ----- */
.hero-section-desktop {
  width: 100%;
  height: 100vh;
  background-image: url(../images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.hero-section-content {
  margin-bottom: 100px;
}
.hero-section-content h1 {
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
  opacity: 0;
  animation: heroContAnimation 2s ease-out forwards;
  animation-delay: 1s;
}
.hero-section-content p {
  width: 40%;
  margin: 5px 0 30px 0;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.6;
  font-weight: 500;
  opacity: 0;
  animation: heroContAnimation 2.2s ease-out forwards;
  animation-delay: 1.2s;
}
.hero-section-content a {
  display: inline-block;
  color: #fff;
  background-color: var(--redColor);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 3px;
  transition: all 0.6s ease;
  opacity: 0;
  animation: heroContAnimation 2.4s ease-out forwards;
  animation-delay: 1.4s;
}
.hero-section-content a:hover {
  color: var(--redColor);
  background-color: #fff;
}
@keyframes heroContAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
}
.hero-section-image-mobile {
  display: none;
}
/* ----- End Hero Section ----- */

/* ----- Start Top Products Section ----- */
.top-products {
  padding-top: 40px;
}
.top-products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-content-item {
  flex: 0 0 calc(50% - 25px);
  height: 300px;
  background-image: url(../images/image1.jpg);
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.products-content-item:first-of-type {
  background-image: url(../images/image2.jpg);
}
.products-content-text {
  padding: 40px;
  color: #fff;
  text-transform: capitalize;
}
.products-content-text p {
  margin-bottom: 15px;
}
.products-content-text a {
  padding: 7px 10px;
  color: #fff;
  background-color: var(--redColor);
  transition: all 0.4s ease-in;
}
.products-content-text a:hover {
  color: var(--redColor);
  background-color: #fff;
}
.products-content-arrows {
  display: none;
}
.top-products-info {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(238, 238, 238, 0.4);
}
.products-info-item {
  flex: 0 0 calc(33% - 25px);
  height: 100px;
  display: flex;
  border-right: 2px solid rgba(128, 128, 128, 0.4);
}
.products-info-item .icon {
  color: gray;
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.5s ease;
}
.products-info-item .icon:hover {
  color: var(--redColor);
}
.products-info-item .text {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.products-info-item .text p {
  text-transform: capitalize;
  font-weight: 500;
}
.products-info-item .text p span {
  color: var(--redColor);
}
/* ----- End Top Products Section ----- */

/* ----- Start Discover-Collection Section ----- */
.discover-collection-container {
  overflow: hidden;
}
.discover-collection-content {
  display: flex;
  transition: transform 1s ease;
}
.discover-collection-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  height: 446px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: var(--blackColor);
}
.discover-collection-item:first-of-type {
  background-image: url(../images/discover/meeting.jpeg);
}
.discover-collection-item:nth-of-type(3) {
  background-image: url(../images/discover/phone.jpg);
}
.discover-collection-item:nth-of-type(5) {
  background-image: url(../images/discover/coffee.jpg);
}
.item-text-wrapper {
  width: 70%;
  height: 50%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-text-wrapper h3 {
  font-size: 25px;

  text-transform: capitalize;
}
.item-text-wrapper p {
  margin: 10px 0 30px 0;
  line-height: 1.5;
  font-size: 16px;
}
.item-text-wrapper a {
  padding: 10px 20px;
  color: #fff;
  background-color: var(--redColor);
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 3px;
  transition: color 0.7s ease, background-color 0.7s ease;
}
.item-text-wrapper a:hover {
  color: var(--redColor);
  background-color: #fff;
}
.slide-controls {
  width: 100%;
  text-align: center;
  padding: 28px 0;
}
.slide-controls div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #80808080;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.slide-controls div.active {
  background-color: var(--blackColor);
}

/* ----- End Discover-Collection Section ----- */

/* ----- Start Product-Category Section ----- */

.product-category {
  background-color: rgba(238, 238, 238, 0.2);
}
.product-category-links {
  display: flex;
  justify-content: center;
}
.product-category-links ul {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.product-category-links ul li {
  display: inline-block;
  padding-bottom: 3px;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--blackColor);
}
.product-links-line {
  border-bottom: 3px solid var(--redColor);
}
.product-category-item {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-category-box {
  margin-top: 30px;
  padding: 15px;
  flex: 0 0 calc(33.3% - 20px);
  max-width: calc(33.3% - 20px);
  height: 500px;
}
#product-1-category .product-category-box {
  border: 1px solid rgba(128, 128, 128, 0.3);
}
#product-2-category .product-category-box {
  border: 1px solid rgba(128, 128, 128, 0.3);
}
#product-3-category .product-category-box {
  background-color: var(--redColor);
}
.hide-product {
  opacity: 0;
  transition: opacity 1s ease;
}
.show-product {
  display: flex;
}
.product-category-btn {
  padding: 50px 0;
  text-align: center;
}
.product-category-btn a {
  padding: 15px 10px;
  color: #fff;
  background-color: var(--blackColor);
  font-weight: 500;
  transition: all 0.4s ease-in;
}
.product-category-btn a:hover {
  color: var(--blackColor);
  background-color: #fff;
}
/* Product-Category  */
.product-brand {
  height: 15%;
}
.product-brand h3 {
  color: var(--blackColor);
  text-transform: capitalize;
}
.product-brand h4 {
  color: var(--blackColor);
  text-transform: capitalize;
}
.product-image {
  height: 50%;
  background-size: cover;
  background-position: center;
  border: 2px solid #eee;
}
.product-description {
  height: 25%;
  padding: 10px 0 5px 0;
  color: gray;
  line-height: 1.5;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.product-price-info {
  height: 10%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price-info p {
  color: var(--blackColor);
  font-weight: bold;
}
.product-price-info a {
  padding: 7px;
  color: #fff;
  background-color: var(--redColor);
  font-weight: 500;
  transition: all 0.5s ease;
}
.product-price-info a:hover {
  color: var(--redColor);
  background-color: transparent;
}
/* Product-Category-1 */
.product-image.prod1-1 {
  background-image: url(../images/product-1/prod1.svg);
}
.product-image.prod1-2 {
  background-image: url(../images/product-1/prod2.jpg);
}
.product-image.prod1-3 {
  background-image: url(../images/product-1/prod3.jpg);
}
.product-image.prod1-4 {
  background-image: url(../images/product-1/prod4.jpg);
}
.product-image.prod1-5 {
  background-image: url(../images/product-1/prod5.jpg);
}
.product-image.prod1-6 {
  background-image: url(../images/product-1/prod6.jpg);
}
/* Product-Category-2 */
.product-image.prod2-1 {
  background-image: url(../images/product-2/prod1.jpg);
}
.product-image.prod2-2 {
  background-image: url(../images/product-2/prod2.jpg);
}
.product-image.prod2-3 {
  background-image: url(../images/product-2/prod3.jpg);
}
.product-image.prod2-4 {
  background-image: url(../images/product-2/prod4.jpg);
}
.product-image.prod2-5 {
  background-image: url(../images/product-2/prod5.jpg);
}
.product-image.prod2-6 {
  background-image: url(../images/product-2/prod6.jpg);
}
/* ----- End Product-Category Section ----- */

/* ----- Start Conact Us Section ----- */
.contact-us{
  background-color: #F5F8FD;
  padding-bottom: 40px;
}
.contact-us-content{
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}
.contact-us-title{
margin-bottom:20px ;
}
.contact-us-title h2{
  color: var(--blackColor);
  text-transform:capitalize;
  padding-left: 10px;
  border-left: 1px solid rgba(128, 128, 128, 0.4);
}
.contact-us-title p{
  margin-top:5px ;
  color: gray;
}
.contact-us-inputs{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.first-input, .second-input{
  flex: 0 0 calc(50% - 20px);
  max-width:calc(50% - 20px) ;
}
.first-input input, .second-input input{
  width: 100%;
  padding:10px;
  text-transform: capitalize;
  border:1px solid rgba(128, 128, 128, 0.4);
}
.contact-us-message{
  margin-top: 20px;
}
.contact-us-message textarea{
  width: 100%;
  padding: 10px;
  text-transform: capitalize;
  border:1px solid rgba(128, 128, 128, 0.4);
}
.contact-us-btn {
  margin-top: 15px;
 display: flex;
 justify-content: flex-end;
}
.contact-us-btn a{
  display: inline-block;
  padding:15px;
  color: #fff;
  background-color: var(--redColor);
  font-weight: 500;
  transition: all 0.5s ease-in;
}
.contact-us-btn a:hover{
  color:var(--redColor);
  background-color: #fff;
}

/* ----- End Conact Us Section ----- */

/* ----- Start Footer Section ----- */

.footer-section {
  background-color: var(--blackColor);
}
.footer-content-nav {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-nav-item {
  flex: 0 0 20%;
  max-width: 20%;
}
.footer-logo {
  margin-bottom: 10px;
  color: #fff;
  text-transform: capitalize;
}
.footer-logo span {
  color: var(--redColor);
}
.footer-social-media {
  color: gray;
}
.footer-social-media i {
  margin-right: 5px;
  transition: color 0.6s ease;
  cursor: pointer;
}
.footer-social-media i:hover {
  color: #fff;
}
.footer-link-title {
  color: #fff !important;
  font-size: 18px !important;
}
.footer-link-title span {
  color: var(--redColor);
  font-size: 20px;
}
.footer-nav-item ul li a {
  display: inline-block;
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
}
.footer-nav-item .btn {
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--redColor);
  font-weight: 500;
  border-radius: 3px;
  transition: background-color 0.7s ease, background-color 0.7s ease;
}
.footer-nav-item .btn:hover {
  color: var(--redColor);
  background-color: #fff;
}
.footer-content-info {
  border-top: 1px solid gray;
  padding: 20px 0;
}
.footer-content-info ul {
  display: flex;
  color: gray;
  font-size: 14px;
}
.footer-content-info ul li {
  display: inline-block;
  margin-right: 15px;
  text-transform: capitalize;
}

/* ----- End Foooter Section ----- */

/* ----- Start Media Queries ----- */

@media (max-width: 1200px) {
  /* Main-Nav */
  .main-nav {
    padding: 20px 0;
  }
  .main-nav-items {
    width: 25%;
    height: calc(100vh - 130px);
    background-color: var(--blackColor);
    position: absolute;
    z-index: 100;
    top: 130px;
    right: 0;
    transform: translateX(100%);
  }
  .main-nav-box-cover {
    display: block;
    position: absolute;
    top: 130px;
    left: 0;
    width: 75%;
    height: calc(100vh - 130px);
    background-color: rgba(128, 128, 128, 0.85);
    transform: translateX(-100%);
    z-index: 40;
  }
  header.fix-header .main-nav-items,
  header.fix-header .main-nav-box-cover {
    top: 76px;
    height: calc(100vh - 76px);
  }
  .show-menu-mobile {
    transform: translateX(0%);
  }
  .main-nav-items ul {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main-nav-items ul li {
    display: block;
    border-bottom: 1px solid rgba(128, 128, 128, 0.21);
  }
  .main-nav-items ul li a {
    display: block;
    color: #fff;
  }
  .sub-menu-item {
    display: none;
  }
  .main-nav-search-box {
    margin-right: 10%;
  }
  .main-nav-search-box input {
    width: 300px;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu:hover {
    color: var(--redColor);
  }
}
@media (max-width: 1000px) {
  /* Top Products */
  .products-info-item {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .products-info-item .icon {
    flex: 0 0 50%;
    font-size: 15px;
  }
  .products-info-item .text {
    font-size: 14px;
    flex: 0 0 50%;
  }
  .products-info-item .text p:last-of-type {
    display: none;
  }
  /* Footer */
  .footer-links {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .footer-logo {
    margin-right: 13%;
  }
}
@media (max-width: 900px) {
  .main-nav-items {
    width: 50%;
  }
  .main-nav-box-cover {
    width: 50%;
  }
  .hero-section-content {
    width: 60%;
    text-align: center;
  }
  .hero-section-content h1 {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .hero-section-content p {
    display: none;
  }
  /* Product-Category-1 */
  .product-category-box {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
 /* Contact-Us */
 .contact-us-content{
  width: 100%;
 }
}
@media (max-width: 800px) {
  /* User-Nav */
  .user-nav-description {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 7px 0;
  }
  .user-nav-items {
    flex: 0 0 100%;
    max-width: 100%;
    border-top: 1px solid gray;
  }
  /* Main-Nav */
  .main-nav-items {
    height: calc(100vh - 164px);
    top: 164px;
  }
  .main-nav-box-cover {
    height: calc(100vh - 164px);
    top: 164px;
  }
  /* Top-Products */
  .top-products-content {
    height: 300px;
    position: relative;
  }
  .products-content-item {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .products-content-arrows {
    display: block;
    position: absolute;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    top: 50%;
  }
  .product-item-show {
    z-index: 10;
  }
  .products-content-arrows i:last-of-type {
    position: absolute;
    right: 15px;
    cursor: pointer;
    z-index: 12;
  }
  .products-content-arrows i:first-of-type {
    position: absolute;
    left: 15px;
    cursor: pointer;
    z-index: 12;
  }
  /* Footer-Section */
  .footer-nav-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .footer-links {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-logo {
    margin-right: 7%;
  }
  .footer-content-info ul {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .footer-content-info ul li {
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin-left: 0;
    text-align: center;
  }
  .footer-content-info ul li:first-of-type {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  /* Contact-Us */
  .first-input, .second-input{
  flex: 0 0 100%;
  max-width: 100% ;
}
.first-input{
  margin-bottom: 20px;
}
.contact-us-btn{
  justify-content: center;
}
  /* Footer */
  .footer-nav-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }
  .footer-links {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .footer-logo {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  /* User-Nav */
  .user-nav-description {
    display: none;
  }
  /* Main-Nav */
  .main-nav {
    padding: 10px 0;
  }
  .main-nav-items {
    width: 60%;
    height: calc(100vh - 110px);
    top: 110px;
  }
  .main-nav-box-cover {
    width: 40%;
    height: calc(100vh - 110px);
    top: 110px;
  }
  header.fix-header .main-nav-items,
  header.fix-header .main-nav-box-cover {
    top: 57px;
    height: calc(100vh - 57px);
  }
  .main-nav-search-box {
    display: none;
  }
  .hero-section-content h1 {
    font-size: 25px;
  }
  /* Product-category */
  .product-category-box {
  flex: 0 0 100%;
  max-width: 100%;
}
  .product-image {
 height: 55%;
}
.product-description {
  height: 20%;
}
@media (max-width: 500px) {
  /* Hero Section */
  .hero-section-desktop {
    width: 100%;
    height: 50vh;
    background: none;
  }
  .hero-section-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .hero-section-content-hide {
    display: none;
  }
  .hero-section-content h1 {
    color: var(--blackColor);
    font-size: 30px;
    margin: 0;
  }
  .hero-section-content a {
    margin-top: 20px;
  }
  .hero-section-image-mobile {
    display: block;
    width: 100%;
    height: 50vh;
  }
  .hero-section-image-mobile img {
    display: block;
    width: 100%;
  }
  /* Footer */
  .footer-content-info ul li {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: left;
    margin-bottom: 5px;
  }
  .footer-content-info ul li:first-of-type {
    text-align: left;
  }
}
@media (max-width: 350px) {
  /* Footer */
  .footer-about {
    display: none;
  }
  .footer-service {
    display: none;
  }
  .footer-content-info ul li {
    display: none;
  }
  .footer-content-info ul li:first-of-type {
    display: block;
    text-align: center;
  }
}
/* ----- End Media Queries ----- */